Invoice Workflow SBS.json
{
  "name": "Invoice Workflow SBS",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1b6ySFVXc_3IGMpN0UeM0NRTPAwkBvzMn",
          "mode": "list",
          "cachedResultName": "Projects",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1b6ySFVXc_3IGMpN0UeM0NRTPAwkBvzMn"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9fb8d057-c92c-44fd-8b15-894389debccc",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hd1PtC1QsdK8Du78",
          "name": "dheeraj0x01@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        464,
        0
      ],
      "id": "3bdeb9b8-dd62-4ac0-b5e6-040a7f34fbc5",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Invoice Number",
              "description": "The number of the invoice",
              "required": true
            },
            {
              "name": "Client Name",
              "description": "The Name of the Client",
              "required": true
            },
            {
              "name": "Client Email",
              "description": "The Email of the client ",
              "required": true
            },
            {
              "name": "Client Address",
              "description": "The address of the Client",
              "required": true
            },
            {
              "name": "Client Phone ",
              "type": "number",
              "description": "the phone number of the client",
              "required": true
            },
            {
              "name": "Total Amount",
              "description": "The total amount of invoice",
              "required": true
            },
            {
              "name": "Invoice Date",
              "description": "The Date the invoice sent",
              "required": true
            },
            {
              "name": "Due Date",
              "description": "The date the invoice is due"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        672,
        0
      ],
      "id": "a56bc7a2-cf11-451f-8a2d-6c65ca321b62",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        608,
        208
      ],
      "id": "838d47a4-5de6-472e-82c9-8242134bc4b6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "quYJxwCjrG3xvPtG",
          "name": "For Invoice"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10l2SWF7Oy5Gx8DBWlHjlOazHkYk36dwIRk4UJLTyBHc",
          "mode": "list",
          "cachedResultName": "Invoice DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10l2SWF7Oy5Gx8DBWlHjlOazHkYk36dwIRk4UJLTyBHc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10l2SWF7Oy5Gx8DBWlHjlOazHkYk36dwIRk4UJLTyBHc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number": "={{ $json.output['Invoice Number'] }}",
            "Client Name": "={{ $json.output['Client Name'] }}",
            "Client Email": "={{ $json.output['Client Email'] }}",
            "Client Address": "={{ $json.output['Client Address'] }}",
            "Client Phone": "={{ $json.output['Client Phone '] }}",
            "Total Amount": "={{ $json.output['Total Amount'] }}",
            "Invoice Date ": "={{ $json.output['Invoice Date'] }}",
            "Due Date": "={{ $json.output['Due Date'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Address",
              "displayName": "Client Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Phone",
              "displayName": "Client Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date ",
              "displayName": "Invoice Date ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        0
      ],
      "id": "ca3122d0-d9ed-489e-835d-b2105d10562a",
      "name": "Update DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1UceyGKpVn2SBGbC",
          "name": "Google Sheets L.inpost"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "a4418de8-27f5-4b4d-a0e8-ee5eba57667b",
      "name": "Download Binary",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hd1PtC1QsdK8Du78",
          "name": "dheeraj0x01@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Invoice Number: {{ $json['Invoice Number'] }}\n\nClient Name: {{ $json['Client Name'] }}\n\nClient Email: {{ $json['Client Email'] }}\n\nTotal Amount: {{ $json['Total Amount'] }}\n\nInvoice Date: {{ $json['Invoice Date '] }}\n\nDue Date: {{ $json['Due Date'] }}"
            },
            {
              "content": "=#Overview\n\nYou are an email expert. You will receive invoice information. Your job is to notify the internal billing team that an invoice was received/send. \n\n##Email\n\nInform the billing of the invoice. Let them know we have also updated this in the Invoice Database, and they can view it here:\nhttps://docs.google.com/spreadsheets/d/10l2SWF7Oy5Gx8DBWlHjlOazHkYk36dwIRk4UJLTyBHc/edit?usp=sharing\n\n##Output\n\nOutput the following parameters seperately:\nSubject\nEmail",
              "role": "model"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "systemMessage": "=Output the following parameters seperately in text:\nSubject \nEmail"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1248,
        0
      ],
      "id": "aaf7afa0-96ff-4f85-b7d5-b1d6d0b78ad0",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "quYJxwCjrG3xvPtG",
          "name": "For Invoice"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "dgandesri@gmail.com",
        "subject": "=New Invoice Notification: AAA-INV-2026-045 - NovaTech Systems Pvt. Ltd",
        "emailType": "text",
        "message": "={{ $json.content.parts[0].text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1584,
        0
      ],
      "id": "db5a619d-0c58-4fba-b5b9-720f88e66cd0",
      "name": "Send a message",
      "webhookId": "7178334c-fba5-47da-a0f7-3baf7de19aa7",
      "credentials": {
        "gmailOAuth2": {
          "id": "33FEgPPn1BPsjEQG",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1792,
        0
      ],
      "id": "a219443c-9247-4018-a45d-bdfcd346ec9e",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Update DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Binary": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2350df5f-4efc-4e7e-bbfa-e9704e8001a0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3b196320eafd0762e2515006c8d90c46d108fdf042571c8f7fde3a03360b94ea"
  },
  "id": "gu3MUpnfaMOolCVQ",
  "tags": []
}